@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

::selection {
  background-color: #ef4444; /* Highlight background (red) */
  color: #ffffff; /* Text color (white) */
}

::-moz-selection {
  background-color: #ef4444; /* Firefox support */
  color: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

code,
pre {
  font-family: var(--font-roboto-mono); /* Mono font for code or special text */
}

.ant-form-item {
  margin-bottom: 0px !important;
}

/* Scrollbar main track */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px; 
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #ef4444; 
  border-radius: 4px;
  cursor: pointer;
}

/* Scrollbar hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #dc2626;
}
